@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Roboto';
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
	widows: 100vw;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4vh;
	padding-top: 1%;

}

h1 {
	font-size: 1.8em;
	color: #4579CB;
	font-weight: 700;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	width: 70%;
}

.menu-list-buttons {
	margin: auto;
	color: #666666;
	font-weight: 700;
	font-size: 1em;
}

.menu-list-buttons:last-child button {
	font-weight: 700;
	background: #4579CB;
	border-radius: 8px;
	color: #fff;
	border: none;
	white-space: nowrap;
	width: 100%;
	padding: 10% 0;
	min-height: 40px;
}

.menu-list-buttons:last-child {
	width: 15%;
}

.union {

}

.union-inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.union-inner-banner {
	padding-top: 13%;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 1.3em;
	color: #474747;
}

.union-inner-banner span {
	color: #4579CB;
}

.union-inner-sub {
	padding: 5% 0%;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #666;
	font-weight: 400;
}

.union-inner-button {
	width: 12%;
	min-height: 43px;
	margin: auto;
	font-weight: 700;
	background: #4579CB;
	border-radius: 8px;
	color: #fff;
	border: none;
	white-space: nowrap;
}

.union-inner-youtube{
	padding-top: 3%;
	margin-left: 15px;

}

.union-inner-youtube a{
	text-decoration: underline;
	color: #666666;
}

.union-inner-youtube a::before{
	content: url("../img/youtube.svg");
	position: relative;
	margin-left: -15px;
	left: -10px;
	top: 10px;
}


.trusdedBy {
	padding: 10vh 0;
}

.trusdedBy-content {
	text-align: center;
}

.trusdedBy h3 {
	font-size: 1.5em;
	font-weight: 700;
}

.trusdedBy p {
	margin-top: 3vh;
	line-height: 1.5em;
}

.trusdedBy-companies {
	position: relative;
	width: 600px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 8vh;
}

.trusdedBy-companies-slider{
	height: 50px;
	display: flex;
	transition-duration: .5s;
}



.trusdedBy-companies-item img{
	width: 200px;
}

.arrow {
    width:7px;
    height:7px;
    border-top:#cacaca 3px solid;
    border-right:#cacaca 3px solid;
    position: absolute;
}
.arrow-bg {
    width:30px;
    height:30px;
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
    border-radius: 50%;
    position: relative;
    opacity: .8;
    cursor: pointer;
}
.arrow-left .arrow {
    transform: rotate(-135deg);
    top:10px;
    left:10px;
}
.arrow-right .arrow {
    transform: rotate(45deg);
    top:10px;
    left:8px;
}
.arrow-left {
    position: absolute;
    top:50%;
    left:2px;
    transform: translateY(-50%);
    z-index: 2;
}
.arrow-right {
    position: absolute;
    top:50%;
    right:2px;
    transform: translateY(-50%);
    z-index: 2;
}