@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Roboto';
}

a {
	color: #666666;
	transition-duration: .1s;
}

a:hover {
	color: #000;
	transition-duration: .1s;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4vh;
	padding-top: 10px;
	padding-left: 10px;

}

h1 {
	font-size: 1.8em;
	color: #4579CB;
	font-weight: 700;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	width: 50em;
}


.menu-list-buttons {
	margin: auto;
}


.button {
	display: block;
	background: #4579CB;
	border-radius: 8px;
	border: none;
	white-space: nowrap;
	transition-duration: .1s;
	min-width: 130px;
	color: #fff;
	font-weight: 700;
	font-size: 0.8em;
	min-height: 4em;
	min-width: 12em;
	margin: auto;

}

.button:active {
	background: #000;
	transition-duration: .1s;
}

.button:hover {
	box-shadow: 0 0 20px #000;
	transition-duration: .1s;
}

.union {
}

.union-inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.union-inner-banner {
	padding-top: 13%;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 1.3em;
	color: #474747;
}

.union-inner-banner span {
	color: #4579CB;
}

.union-inner-sub {
	padding: 5% 0%;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #666;
	font-weight: 400;
}

.union-inner-youtube{
	padding-top: 3%;
	margin-left: 15px;

}

.union-inner-youtube a{
	text-decoration: underline;
	color: #666666;
}

.union-inner-youtube a::before{
	content: url("../img/youtube.svg");
	position: relative;
	margin-left: -15px;
	left: -10px;
	top: 10px;
}


.trusdedBy {
	padding: 10vh 0 5vh 0;
}

.trusdedBy-content {
	text-align: center;
}

.trusdedBy-content h3 {
	font-size: 1.5em;
	font-weight: 700;
	color: #474747;
}

.trusdedBy-content p {
	margin-top: 24px;
	line-height: 1.5em;
	color: #666666;
}

.trusdedBy-companies {
	position: relative;
	width: 460px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 4%;
}

.trusdedBy-companies-slider{
	height: 50px;
	display: flex;
	transition-duration: .5s;
}



.trusdedBy-companies-item img{
	width: 230px;
}

.trusdedBy-companies-item{
	transition-duration: .5s;
}

.circles, .award-circles{
	display: flex;
	justify-content: space-between;
	width: 75px;
	margin: 0 auto;
	margin-top: 8%;
	padding-bottom: 4px;
}

.circle-bg, .award-circle-bg {
    width:20px;
    height:20px;
    background: #E6E6E6;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.active {
  background-color: #4579CB;
}

.comunicate-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.comunicate-inner-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding: 2em 0;
}

.comunicate-inner-item:last-child {
	margin-bottom: 6vh;
}

.comunicate-inner-item-content {
	margin: auto;
}

.comunicate-inner-item-content h4{
	font-size: 1.3em;
	font-weight: 700;
	word-spacing: 0.2em;
	line-height: 1.5em;
	margin-bottom: 2vh;
	color: #474747;
}

.comunicate-inner-item-content p {
	color: #666666;
	line-height: 1.4em;
	font-size: 1em;
	margin-bottom: 4vh;
}

.comunicate-inner-item-img img{
	width: 615px;
	height: 423px;
}

.comunicate-inner-item-img {
	margin: auto;
}

.comunicate-inner-item-reverse {
	flex-direction: row-reverse;
}


.why-comunicate {
	margin-bottom: 10vh;
}


.why-comunicate-inner-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	margin-top: 6vh;
}

.why-comunicate-inner-item-img img{
	width: 4em;
	height: 4em;
}

.why-comunicate-inner-item-img {
	margin: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.why-comunicate-inner-item{
	text-align: center;
	padding: 10px;
	width: 15em;
	height: 100%;
	margin: auto;
	background: #F6F7FD;
}

.why-comunicate-inner-item h4{
	font-weight: 700;
	font-size: 1.1em;
	color: #474747;
	margin-bottom: 2vh;
}

.why-comunicate-inner-item p{
	font-size: 0.9em;
	line-height: 1.5em;
	color: #666666;
}

.customer-inner {
	display: flex;
	flex-direction: row;
}

.customer-inner-content {
	margin: auto;
	padding: 4% 10%;
}

.customer-inner-content h4{
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 1.3vh;
}

.customer-inner-content h5{
	font-size: 0.9rem;
	margin-bottom: 1.5vh;
}

.customer-inner-content p {
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 3vh;
}

.customer-inner-content-buttons {
	display: flex;
	width: 7vw;
	min-width: 180px;
	justify-content: space-between;
}

.customer-inner-content-button-left {
	background: #E6E6E6;
	width: 70px;
	height: 40px;
	border-radius: 4px;
}

.customer-inner-content-button-right {
	background: #4579CB;;
	width: 70px;
	height: 40px;
	border-radius: 4px;
}

.customer-inner-content-button-left img{
	rotate: 180deg;
	display: block;
	margin: auto;
	margin-top: 12px;
}

.customer-inner-content-button-right img{
	display: block;
	margin: auto;
	margin-top: 12px;
}

.customer {
	margin-bottom: 120px;
}

.video {
	margin-bottom: ;
	margin-bottom: 120px;
}

.video-inner-videos {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	flex-wrap: wrap;
	box-shadow: 1 1 ;
}

.vidoo-inner-videos-video iframe{
	border-radius: 40px;
	box-shadow: 0 0 10x #000;
}

.faq-inner-selects {
	display: grid;
	grid-template-columns: repeat(2, 570px);
	gap: 50px;
	margin: auto;
	margin-top: 100px;
	width: fit-content;
}

.faq-inner-select {
}

.faq {
	min-height: 580px;
	margin-bottom: 100px;
}

.select-item {
	display: block;
	font-weight: 700;
	color: #8C8C8C;
	font-size: 1em;
	margin: auto 0;
	margin-left: 27px;
}

.select-arrow {
	padding-right: 32px;
	margin: auto 0;
}

.select-close{
	display: flex;
	justify-content: space-between;
	height: 70px;
	border: 1px solid #CACACA;
	border-radius: 10px;
}

.select-open {
	top: 70px;
	display: none;
	flex-direction: column;
}

.select-block {
	display: flex;
	border: 1px solid #CACACA;
	height: 70px;
	background: #fff;
	z-index: 100;
}

.select-block:active {
	background-color: #000;
}

.select-block:hover {
	box-shadow: 0 0 20px #000;
}


.award-companies-slider{
	display: flex;
	justify-content: space-between;
	transition-duration: .5s;
	width: 1400px;
}

.award-companies-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	height: 239px;
	width: 170px;
	transition-duration: .5s;
	text-align: center;
	border-radius: 16px;
	box-shadow: 5px 5px 10px 1px #E6E6E6;
	margin-top: 10px;
}

.award-companies-item h5{
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 10%;
	color: #4579CB;
}

.award-companies-item p {
	line-height: 1.3em;
	color: #666666;
	font-size: 0.9em;
}

.award-companies-item img {
	width: 127px;
	margin: auto;
}

.award-companies-item-content {
	margin-bottom: 10%;
}

.award-companies {
	position: relative;
	width: 600px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 4%;
}

.award {
	margin-bottom: 120px;
}

form {
	position: relative;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 4.5em;
}

input {
	margin: auto;
	width: 50%;
	display: block;
	height: 5em;
	border-radius: 1em;
	border: none;
	font-size: 0.9em;
	background: #E6E6E6;
	padding: 0 3em;
}

form button {
	position: relative;
	bottom: 4.8em;
	left: 21%;
}

.footer-inner {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.footer-inner-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-inner-item-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-top: 3em;
	font-size: 0.9em;
	line-height: 1.7em;
}


.footer {
	padding: 3em 8em;
	color: #fff;
	height: 15em;
	background: #4579CB;
}

.footer a{
	color: #fff;
}

.footer-inner-item:first-child h4{
	font-size: 1.6em;
}

.footer-inner-item h4 {
	font-weight: 700;
	font-size: 1.2em;
}


.footer-inner-item-content-net {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.footer-inner-item:last-child {
	display: flex;
	height: 90%;
}


#email::before{
	content: url('../img/Group55.svg');
	margin-right: 1rem;

}

#phone::before {
	content: url('../img/Vectorphone.svg');
	margin-right: 1rem;
}

#location::before {
	content: url('../img/Vectorlocat.svg');
	margin-right: 1rem;
}

p{
	word-wrap: normal ;
}



@media (max-width: 1400px) {
	.container {
		max-width: none;
	}
	.why-comunicate-inner-items {
		grid-template-columns: repeat(2, 1fr);
		width: fit-content;
		margin: auto;
		margin-top: 6vh;
	}
	.faq-inner-selects {
		grid-template-columns: repeat(1, 570px);
	}

	form button {
		left: 20%;
	}

}

@media (max-width: 992px) {

	.customer-inner-content {
		padding: 1em 0 0 1em;
	}
	.customer-inner-img{
		margin: auto;
	}
	body {
		font-size: 0.9em;
	}

	.customer-inner-img img {
		width: 50vw;
	}

	.button {
		min-width: 120px;
	}
	.footer {
		padding: 2em 3em 1em 3em;
	}
}

@media(max-width: 768px) {
	.menu h1 {
		display: none;
	}

	.menu-list {
		margin: auto;
	}

	.award-companies{
		width: 190px;
	}

	.trusdedBy-companies {
		width: 230px;
	}
	.comunicate-inner-item-img img{
		display: block;
		width: 90%;
		margin: auto;
	}

	.why-comunicate-inner-items {
		grid-template-columns: repeat(1, 1fr);
		width: fit-content;
		margin: auto;
		margin-top: 6vh;
	}
	.customer-inner {
		flex-wrap: wrap;
	}

	.select-close{
		width: 100%;
		margin: auto;
	}

	.select-open {
		width: 100%;
		margin: auto;
	}

	.faq-inner-select {
		width: 300px;
	}

	.faq-inner-selects {
		display: flex;
		flex-direction: column;
		margin-top: 100px;
	}

	form button {
		left: 31%;
	}

	input {
		width: 70%;
	}

	.footer-inner-item:first-child {
		display: none;
	}

	.footer {
		padding: 2em;
	}

	.comunicate-inner-item-content .button {
		margin: auto;
	}

	.customer-inner-content-item {
		width: 80%;
		margin: auto;
	}

	body{
		font-size: 0.9em;
	}
}

@media(max-width: 576px) {
	body{
		font-size: 0.7em;
	}

	form button {
		left: 28%;
	}
}